<%= form_with(model: @task, local: true ,url: choose_new_or_edit ) do |form| %>
<% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= @task.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="task_title">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <div class="task_content">
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </div>
  <div class="task_content">
    <%= form.label :expired_at %><br>
    <%= form.datetime_select :expired_at %>
  </div>
  <div class="task_content">
    <%= form.label :status_name %><br>
    <%= form.select :status_name, ['未着手','着手','完了'] %>
  </div>
  <br>
  <%= form.submit %>
<% end %>
<%= link_to "タスク一覧画面にもどる", tasks_path %>
