<article class="admin_show">
  <h2>管理者画面：ユーザー情報詳細</h2>
  <section class="profile">
    <p><span class="item_name">ID</span> <%= @user.id %></p>
    <p><span class="item_name">名前</span> <%= @user.name %></p>
    <p><span class="item_name">メールアドレス</span> <%= @user.email %></p>
    <p><span class="item_name">管理権限</span> <%= @user.admin == "管理者" ? "あり" : "なし" %></p>

  </section>
  <ul class="tasklist">
    <% @tasks.each do |task| %>
    <li>
      <div class="upper">
        <p><span class="item_name">タスク名</span> <%= task.title %></p>
        <p><span class="item_name">内容</span> <%= task.content %></p>
      </div>
      <div class="lower">
        <p><span class="item_name">登録日時</span> <%= l task.created_at, format: :long %></p>
        <p><span class="item_name">終了期限</span> <%= l task.expired_at, format: :long %></p>
        <p><span class="item_name">ステータス</span> <%= task.status %></p>
        <p><span class="item_name">優先順位</span> <%= task.priority %></p>
      </div>
      <div class="btns">
        <div class="innerblock">
          <%= link_to '詳細を確認する', task_path(task.id), class: "show_task" %>
          <%= link_to "タスクを編集する", edit_task_path(task.id), data: { confirm: '本当に編集していいですか？' }, class: "edit_task" %>
          <%= link_to 'タスクを削除する', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }, class: "delete_task" %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  <div class="pagination_block">
    <%= paginate @tasks %>
  </div>
  <p class="goto_back"><%= link_to "ユーザー一覧画面にもどる", admin_users_path %></p>
</article>
