<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DICManyoExam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="flex">
          <h1 class="tasklogo item"><%= link_to 'タスク管理アプリ', tasks_path %></h1>
          <div class="btns item">
            <% if logged_in? %>
              <%= link_to "Profile", user_path(current_user.id) %>
              <%= link_to "Logout", session_path(current_user.id), method: :delete %>
            <% else %>
              <%= link_to "Sign up", new_user_path %>
              <%= link_to "Login", new_session_path %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
    <%= yield %>
    </div>
    <!-- <footer>
      <div class="container">
        <%= date = Time.new %>
        <p class="copyright">© 1982-2021 kyawai Corp.</p>
      </div>
    </footer> -->
  </body>
</html>
